
    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      color: #333;
      background: linear-gradient(to bottom right, rgba(10,17,40,0.9), rgba(0,102,204,0.8)), 
              url('/resources/img/login.jpeg') center/cover no-repeat;
  background-attachment: fixed;
}
    

    .container {
      width: 90%;
      max-width: 1200px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 15px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      padding: 20px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 20px;
    }

    .header {
      grid-column: span 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #1a2a51, #3b82f6);
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: rgb(144, 177, 225);
      border-radius: 10px;
      overflow: hidden;
    }

    th{
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #9a2c2c;
      
    }
     td {
      text-align: center;
      padding: 5px;
      border-bottom: 1px solid #e9e9ec;
    }

    th {
      background: #05285f;
      font-weight: 700;
        color: white;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: linear-gradient(to bottom right, rgba(255,255,255,0.9), rgba(230,230,255,0.9));
      border-radius: 10px;
      padding: 20px;
    }

    .form input, .form select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 0.9rem;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .btn {
      flex: 1;
      margin: 0 5px;
      padding: 10px;
      border: none;
      border-radius: 8px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn-add { background: #007bff; }
    .btn-add:hover { background: #0056b3; }

    .btn-update { background: #28a745; }
    .btn-update:hover { background: #1e7e34; }

    .btn-delete { background: #dc3545; }
    .btn-delete:hover { background: #a71d2a; }

    .btn-reset { background: #6c757d; }
    .btn-reset:hover { background: #565e64; }

    .footer {
      grid-column: span 2;
      text-align: right;
      margin-top: 10px;
      color: #1a2a51;
      font-weight: bold;
    }
